:root {
  --board-size: 300px;
  --line-size: 0px;
  --mark-size: calc(((var(--board-size) - 2rem) / 3) * 0.8);
  --board-color: white;
  --mark-x-color: #7f7fff;
  --mark-o-color: #7f7f7f;
  --mark-hover-color: lightgray;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfb;
}

.board {
  width: var(--board-size);
  height: var(--board-size);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--line-size);
  padding: 2rem;
  background-color: var(--board-color);
  border-radius: 10px;
  box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.1);
  /* TODO: Adjust */
}

.cell {
  background-color: var(--board-color);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--mark-hover-color);
}

/* NOTE: Removing outer border */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: 0;
}

.cell:nth-child(3n + 1) {
  border-left: 0;
}

.cell:nth-child(3n + 3) {
  border-right: 0;
}

.cell:nth-child(9),
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: 0;
}

/* NOTE: Styling of "X", including hover effects */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  height: var(--mark-size);
  width: calc(var(--mark-size) * 0.2);
  position: absolute;
}

.cell.x::before,
.cell.x::after {
  background-color: var(--mark-x-color);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  background-color: var(--mark-hover-color);
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

/* NOTE: Styling of "O", including hover effects */
.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  height: calc(var(--mark-size) * 0.9);
  width: calc(var(--mark-size) * 0.9);
  border-radius: 50%;
  position: absolute;
}

.cell.o::before,
.cell.o::after {
  background-color: var(--mark-o-color);
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  background-color: var(--mark-hover-color);
}

.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after {
  height: calc(var(--mark-size) * 0.6);
  width: calc(var(--mark-size) * 0.6);
  background-color: var(--board-color);
}
